<form method="post">
  {% csrf_token %}
  <label>Recipient:</label><br>
  <input type="email" name="recipient" value="{{ recipient|default:'' }}" required><br><br>

  <label>Subject:</label><br>
  <input type="text" name="subject" value="{{ subject|default:'' }}"><br><br>

  <label>Message:</label><br>
  <textarea name="message" rows="6" cols="60">{{ message|default:'' }}</textarea><br><br>

  <button type="submit">Send</button>
</form>

<!-- show messages -->
{% if messages %}
  <ul>
    {% for msg in messages %}
      <li style="color: red;">{{ msg }}</li>
    {% endfor %}
  </ul>
{% endif %}
